.burbujas {
    background-image: url('../../assets/Main/wallpaper.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: -99999;
}

h4 {
  color: black;
}

.caracteristicas {
    border-radius: 10px;
    background-color: white;
    margin-top: 25px;
    margin-bottom: 25px;
}

.thumbnail {
    border: none;
}

ul {
  list-style-type: decimal;
}

img.img-responsive.pagos {
  height: 150px !important;
  width: 250px !important;
}

p, ol {
  font-size: 18px;
}

@media screen and (max-width: 320px) {
  p, ol {
    font-size: "15px";
  }
}
